
@{
    ViewBag.Title = "EditAnuncio";
}

@model List<empregos.Models.anuncio>
@{
    ViewBag.Title = "IndexWithWebGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model.ToList(), canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}
<style type="text/css">
    .webgrid-row-style {
        padding: 3px 7px 2px;
    }
</style>
<h2>Listando tarefas com o WebGrid</h2>
<div id="webgrid">
    @grid.GetHtml(
      tableStyle: "table table-responsive table-striped table-bordered table-hover ",
      headerStyle: "wedgrid-header",
      footerStyle: "",
      rowStyle: "webgrid-row-style",
      columns: grid.Columns(
        grid.Column(columnName: "id", header: "Id"),
                grid.Column(columnName: "descricao", header: "descricao"),
                grid.Column(columnName: "preco", header: "Preço"),
                grid.Column(columnName: "medida", header: "medida"),
                grid.Column(columnName: "idUsuario", header: "idusuario"),
                grid.Column(columnName: "idcategoria", header: "idcategoria"),
                grid.Column(format:@<input type="button" onclick="Editar()" value="Editar" />, header: "editar"),
                grid.Column(format:@<input type="button" onclick="Excluir()" value="Excluir" />, header: "Exclusão")

        @*grid.Column(header:"Fechado?", format:@<text><input type="checkbox" checked="@item.Closed" disabled="disabled" /></text>),*@
        //grid.Column(columnName: "DataClosed", header: "Realizado em:")
        )
      )

</div>